@charset "UTF-8";
/* CSS Document */

/* Left Side Styles */
#leftCurtain {
	width: 1104px;
	height: 1080px;
	background-image: url(img/hrCurtain.png);
}

#leftCurtainInner {
  height: 1080px;
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0) 50%, rgba(0,0,0,100) 100%);
}

#plaqueText {
	width: 714px;
	height: 104px;
	padding: 25px;
	text-align: center;
}
#plaqueText h1 {
	font-size: 48px;
	font-weight: bold;
	margin-top: 20px;
}
#plaqueText h2 {
	font-size: 28px;
	font-weight: bold;
	margin-top: 35px;
}
#plaqueText p {
	font-size: 20px;
}
.topLevelPicture {
	margin-left: 0px;
}
.memoPic3 {
	margin-left: -100px;
}
.memoPic4 {
	margin-left: 170px;
}
.darkBG {
	background-color: #333;
}
.pText {
	color: #ffffff;
	font-size: 36px;
	height: 500px;
	padding: 10px 60px 0 60px;
}

/* Right Side Styles */
#rightMenu {
	width: 816px;
	height: 1080px;
}
.qText {
	color: #ffffff;
	font-size: 28px;
	padding: 10px 60px 0 60px;
	font-style: italic;
	text-align:center;
}
#memoText {
	width: 815px;
	height: 710px;
}
.memoName {
	display: block;
	text-align: center;
	margin-bottom: 25px;
}
#pictureFrameMemo {
	background-image: url(img/memoFrame.png);
	width: 583px;
	height: 923px;
	position: absolute;
	margin: 50px 0 0 260px;
	z-index: 400;
}
#pictureMemo {
	position: relative;
	width: 583px;
	height: 923px;
	margin: 0 auto;
	top: 50px;
	z-index: 100;
}
sup { 
	vertical-align: top; 
	font-size: 0.6em; 
}
.inline {
	display: inline;
}
#bottomRightNav {
	position: absolute;
	width: 815px;
	top: 950px;
}
#bottomRightNav li {
	text-decoration: none;
	width: 230px;
	height: 70px;
	display: block;
}
#bottomRightNav a {
	text-decoration: none;
}
ul {
  list-style-type: none;
  overflow: none;
  padding: 0;
  margin: 0;
}
ul li {
  float: left;
  border: 1px solid #333;
  border-bottom: none;
  margin: 0 0 0 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
}
ul li a{
  display: block;
  text-decoration: none;
  height: 14px;  
  color: #fff;
}

.btmMenuFontSize {
	font-size: 28px;
  padding-top: 22px;
}
.btmMenuArrowMarginLeft {
	margin-right: 10px;
}
.btmMenuArrowMarginRight {
	margin-left: 10px;
}
